html {
    --line-color: brown;
    --small-line-color: red;
    --black: #0f0f0f;
    --darkBackground: rgba(20, 20, 20, 0.9);
    --lightText: white;
    --fontFamily: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --fontSize: 1em;
    --borderRadius: 8px;

    color: var(--lightText);
    font-family: var(--fontFamily);
}

h2 {
    border-bottom: 2px solid #f44336;
    padding-bottom: 10px;
}

.visuallyhidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

a {
    color: #f44336;
    transition: color 0.3s;
}

a:hover{
    color: #e1e1e1;
}