[data-mt-type="garden"] {
    background-color: var(--darkBackground);
    background: url(https://www.fabeline.com/aiwebsite/mars.png);
    background-size: cover;
    background-attachment: fixed;
}

.nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: var(--darkBackground);
    border-radius: var(--borderRadius);
    color: var(--lightText);
    max-width: 150px;
    height: 60px;
    font-size: var(--fontSize);
    font-family: var(--fontFamily);
    padding: 0 20px;
    cursor: pointer;
    transition: background-color 0.1s;
}

.nav-button:hover {
    background-color: #f44336;
}

.button-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 15px;
}

.active {
    background-color: #f44336;
}