.content {
    max-width: 600px;
    margin: auto;
}

.box {
    background-color: var(--darkBackground);
    padding: 20px;
    border-radius: 10px;
    margin: 15px 0;
}

.image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top;
}