.article-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: auto;
    /*background-color: rgb(101, 101, 101);*/
    padding: 20px 0;
    border-radius: 15px;
}

.article-preview {
    /*background-color: #3f2a2a;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
    color: var(--lightText);
    width: 250px;
    height: 100%;*/
    color: var(--lightText);
    width: 250px;
    border-radius: 5px;
    background-color: #110101;
    border: 3px solid var(--line-color);
    height: 100%;
}

.author-description {
    font-style: italic;
    margin-top: -15px;
}

.preview-image {
    width: 100%;
    height: 140px; 
    object-fit: cover;
    object-position: top;
}

.preview-text {
    padding: 0 15px 10px;
}

.preview-text h3{
    margin:8px 0px 15px 0px;
    font-weight: 500;
}

a {
    text-decoration: none;
}