html {
    background: white;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.analogy-room {
    width: 14rem;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}

.link-no-underline {
    text-decoration: none !important;
}

.share {
    justify-content: flex-end;
    margin: 10px;
}

.meretheme-header {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: flex-end;
}